body{
    background: #100C0B;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 22px;
}

header{
    font-family: times, serif; font-size:14pt; 
}

nav a:hover{
    color:  #000000;
    text-decoration: none;  
}

.titulo-principal{
    text-align: center;
    margin-top: 2rem;
    font-weight: bold;
    font-family: monospace;
    letter-spacing: 0.04cm;
}

.mision{
    color: #C78C19;
}


.be-fin{
    position: static;
} 

.imagenbanner{
    margin: 50px 0;
    margin-top: 50px;
}

.baner-inicio{
    object-fit: cover;
    object-position: 0 80%;
    height: 400px;
}

.titulo-centralizado{
    margin: 50px 80px 20px;
    font-size: 40px;
    letter-spacing: 0.04cm;
    font-family: monospace;
    font-weight: bold;
}

.beneficio-position{
    padding-bottom: 150px;
    font-family: monospace;
}

.beneficios-itens{
    font-size: 34px;
}

.imagembeneficios{
    margin: 50px 0;
    height: 400px;
    margin-top: 50px;
}

.textos-beneficios{
    padding-bottom: 15px;
}

.textos-beneficios:hover{
    font-size: 36px;
    font-weight: bold;
}

.beneficios-itens li a:hover{
    transform: translate(0, -10px)
}

.beneficios-itens li:nth-child(1) a:hover{
    background-color: #3b5999;
}

.beneficios-itens li:nth-child(2) a:hover{
    background-color: #e4405f;
}

.beneficios-itens li:nth-child(3) a:hover{
    background-color: #25D366;
}