header{
    background: #bbbbbb;
    padding: 22px 0;
}

body{
    background: #100C0B;
    color: #fff;
    font-size: 19px;
}

.caja{
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav{
    position: absolute;
    top: 100px;
    right: 0;
}

nav li{
    display: inline;
    margin: 0 0 0 15px;
}

nav a{
    text-transform: uppercase; /* para cambiar todo a mayuscula*/
    color:  #0a0a0a;
    font-weight: bold;
    font-size: 22px; 
    box-sizing: border-box;
    border-radius: 10px;
    padding:10px 10px ;
    background-color: #fdfdfd;
    text-decoration: none; /*para sacar el subrayado de hiperlink*/
}


/*AQUI QUIERO TRABAJAR PARA EL EFECTO DEL INICIO*/
nav a:hover{
    color:#1a1818;
    margin: 0px;
    box-sizing: border-box;
    box-shadow: 5px 8px 8px rgb(58, 54, 54);
    border-radius: 10px;
    padding:10px 10px ;
    background-color: #C78C19;
    transition: .4s;
}

.productos{
    width: 940px;
    margin: 0 auto;
    padding: 50px;
}

.productos h2{
	font-size: 28px;
    font-weight: bold
}

.productos li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid #FFFFFF;
    border-radius: 10px;
}

.producto.descripcion{
    font-size: 18px;
}

.producto-precio{
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}

.productos li:active{
    border-color: #088C19
}

.productos li:hover{
    border: 5px solid #C78C19;
    cursor: pointer;
    transition: 0.4s;
}

.productos li:hover h2{
    font-size: 30px;
}

.pie-pagina{
    text-align: center;
    color: #8a8484;
    background: url("../img/bg.jpg");
    padding: 40px;
}

.copyright {
    color: #FFFFFF;
    font-size: 13px;
    margin: 30px 0 0;
}


/*Estilos de la pagina de contacto.html*/
main{
	width: 940px;
    margin: 0 auto;
}

form{
    margin: 40px 0;
}

form label, form legend{
    display: block;
    font-size: 22px;
    margin: 0 0 10px;
}

.input-estandar{
    display: block;
    padding: 10px 25px 10px 25px;
    margin: 0 0 10px;
    width: 50%;
    outline-color: #C78C19;
    font-size: 22px;
}

.lcomentario{
    outline-color: #C78C19;
    margin: -15px 0px 20px;
    font-size: 22px;
}

.checkbox{
    margin: 20px 0;
}

.submit{
    width: 40%;
    padding: 15px 0;
    background: orange;
    color: #FFFFFF;
    border-radius: 10px;
    font-weight: bold;
    font-size: 22px;
    border: none;
    transition: 0.3s all;
    cursor: pointer;
}

.submit:hover{ 
    background: tomato;
    transform: scale(1.1);
}

select{
    width: 20%;
    padding: 5px 0;
    font-size: 22px;
}

table{
    margin: 20px 0 40px
}

thead{
    background: #555555;
    color: white;
    font-weight: bold;
}

td, th{
    border: 1px solid #ffff;
    padding: 8px 15px;
}



/* Redes sociales*/
.redes-container ul{
    display: flex;
    position: absolute;
    left: 90%;
    transform: translate(-50%, -50%) ;  
}

.redes-container ul li{
    margin: 0px 15px;
    list-style: none;
}

.redes-container ul li .fa{
    font-size: 50px;
    line-height: 60px;
    transition: .4s;
    color: #000;
}

.redes-container ul li .fa:hover{
    color: #fff;
}

.redes-container ul li a{
    position: relative;
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #fff;
    text-align: center;
    transition: .4s;
    box-shadow: 0 5px 4px rgba(0,0,0,.5);
}

.redes-container ul li a:hover{
    transform: translate(0, -10px)
}

.redes-container ul li:nth-child(1) a:hover{
    background-color: #3b5999;
}

.redes-container ul li:nth-child(2) a:hover{
    background-color: #e4405f;
}

.redes-container ul li:nth-child(3) a:hover{
    background-color: #25D366;
}