body {
    /* background-color: rgb(238, 206, 155); */
    background-color: #fffebb;
    font-family: cursive;
    }
h1 {
    text-align: center;
    color: tomato;
    }
h2 {
    color: tomato;
    }
p {
    text-align: center;
    }   
strong {
    color: red;
    }
input {
    padding: 10px 11px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: tomato;
    color: white;

      }

#mission{
    text-align: center;
    padding-top: 50px;
}

#banner-fit{
    width:100%;
    height:100%;

}
#itens{
    font-style: italic;
}
#input-group{
    text-align: center;
}
